/* =================================== */
/*  Certifications Styles 
/* =================================== */
.featured-section {
    background-color: rgba(21, 160, 219, 0.1);
    padding: 29px 0;

    .owl-carousel {

        .owl-nav {
            
            button {
                position: absolute;
                font-size: 50px!important;
                font-weight: lighter;
                font-family: Poppins,sans-serif;
                color: #b3b3b3;
                top: 35%;
            }

            .owl-prev {
                left: -20px;
            }
    
            .owl-next {
                right: -20px;
            }
        }
    }

    .row {
        padding: 18px 0;
    }

}

/* =================================== */
/*  Clients Styles 
/* =================================== */
.clients-section {
    border-top: 1px solid $silver;
    padding: 38px 0;

    .align-item-center {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .single-logo {
        text-align: center;

        img {
            text-align: center;
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
            opacity: .5;
            @include transition();

            &:hover {
                -ms-transform: scale(0.9, 0.9);
                -webkit-transform: scale(0.9, 0.9);
                transform: scale(0.9, 0.9);
                -webkit-filter: grayscale(0%);
                -moz-filter: grayscale(0%);
                -ms-filter: grayscale(0%);
                -o-filter: grayscale(0%);
                filter: grayscale(0%);
                opacity: 1;
            }
        }
    }

}

.kc-section {

    .form-news-kc {
        position: relative;
        background-color: $white;
        border-radius: 2px;
        -webkit-box-shadow: 0 6px 30px 0px rgba(0, 0, 0, 0.20);
        -moz-box-shadow: 0 6px 30px 0px rgba(0, 0, 0, 0.20);
        box-shadow: 0 6px 30px 0px rgba(0, 0, 0, 0.20);
        padding: 40px;

        h3 {
            font-size: 28px;
            margin-bottom: 20px;
            font-weight: bold;
        }

        p {
            font-size: 16px;
            margin-bottom: 25px;
        }

        .f-news {
            background: #F3FAFD;
            padding: 30px;
            text-align: left;
        }
    }
}

.single-feature {
    position: relative;
    background-color: $white;
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 30px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 6px 30px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 0 6px 30px 0px rgba(0, 0, 0, 0.20);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin-bottom: 20px;

    .img-post-kc {
        
        span {
            position: absolute;
            bottom: 10px;
            left: 10px;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: bold;

            /* =================================== */
            /*  Categories Styles 
            /* =================================== */
            .category-salesforce{
                background: #0070D2;
                color: $white;
                padding: 2px 5px;
            }
            
            .category-news {
                background: #00BC9D;
                color: $white;
                padding: 2px 5px;
            }
            .category-salesforce-certifications {
                background: #FF9D00;
                color: $white;
                padding: 2px 5px;
            }
            .category-pardot {
                background: #FF4B39;
                color: $white;
                padding: 2px 5px;
            }
        }
    }

    .content-post-kc {
        padding: 20px;

        a, h3 {
            color: inherit;
        
            &:hover {
                color: $primary-color;
                }
        }

        h3 {
            font-size: 20px;
            margin-bottom: 15px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            max-height: 88px;      /* fallback */
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
        }

        p {
            margin-bottom: 0px;
            line-height: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            max-height: 88px;      /* fallback */
            -webkit-line-clamp: 4; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }

    &:hover {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px);
        -webkit-box-shadow: 0 10px 50px -12px rgba(0, 0, 0, 0.50);
        -moz-box-shadow: 0 10px 50px -12px rgba(0, 0, 0, 0.50);
        box-shadow: 0 10px 50px -12px rgba(0, 0, 0, 0.50);
    }
    
}

.explore-section {
    background: url(../img/img_efeito_bg_1.svg) right top no-repeat;
    background-size: cover;
    padding-top: 150px;

    .overlay-bg {
        background: linear-gradient(to right, #000, rgba(#eb8fa9, 0));
    }

    .secondary-btn {
        margin-top: 50px;
    }

    .counter-wrap {
        max-width: 370px;
        height: 162px;
        background-color: $white;
        padding: 20px;
        margin: 0 auto;
        transition: all .3s ease 0s;
        border-radius: 5px;
        text-align: center;
        box-shadow: 0 6px 30px 0 rgba(0,0,0,.2);
        -webkit-box-shadow: 0 6px 30px 0 rgba(0,0,0,.2);
        -moz-box-shadow: 0 6px 30px 0 rgba(0,0,0,.2);

        .badge-experience-1 {
            position: absolute;
            right: 10px;
            top: -10px;
        }

        .badge-experience-2 {
            position: absolute;
            right: 44px;
            top: -20px;
            background-color: #fff;
            width: 70px;
            height: 70px;
            border-radius: 100px;
            line-height: 70px;
        }

        .badge-partner {
            width: 100%;

            img {
                margin: 0 auto;
            }

            p {
                margin: 10px 0 0 0;
                text-transform: uppercase;
                font-weight: bold;
            }
        }

        
    }

    .single-counter {
        text-align: center;
        margin-top: 20px;
        width: 100%;

        p {
            margin: 10px 0 0 0;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 16px;
        }

        h2 {
            font-weight: 300;
            font-size: 50px;
        }
    }
}

.service-section {
    padding-top: 0px;
    z-index: 1;
    position: relative;

    .single-service {
        position: relative;
        background-color: $white;
        padding: 30px 15px 30px 30px;
        -webkit-box-shadow: 0 6px 30px 0px rgba(0, 0, 0, 0.20);
        -moz-box-shadow: 0 6px 30px 0px rgba(0, 0, 0, 0.20);
        box-shadow: 0 6px 30px 0px rgba(0, 0, 0, 0.20);
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;

        .img-services-home-1,
        .img-services-home-2 {
            margin: -30px 0px -30px -15px;
            padding: 0;
            background: #D6F9FB;
            
            img {
                position: absolute;
                bottom: 0;
            }
        }
        
        i {
            font-size: 35px;
            color: $black;
        }

        h4 {
            margin: 0 0 10px 0;
            font-size: 20px;
            font-weight: bold;
        }

        p {
            margin-bottom: 12px;
        }

        &:hover {
            -webkit-transform: translateY(-10px);
            -moz-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            -o-transform: translateY(-10px);
            transform: translateY(-10px);
            -webkit-box-shadow: 0 10px 50px -12px rgba(0, 0, 0, 0.50);
            -moz-box-shadow: 0 10px 50px -12px rgba(0, 0, 0, 0.50);
            box-shadow: 0 10px 50px -12px rgba(0, 0, 0, 0.50);
        }
        .img-services-home-2 {
            background: #FBEED6;
        }
    }

    .owl-dots {
        text-align: center;
        margin-top: 30px;

        .owl-dot {
            // border-radius: 20px;
            width: 14px;
            height: 14px;
            background: #eee;
            ;
            display: inline-block;
            margin: 0px 5px;

            &.active {
                background: $primary-color;
            }

            &:focus {
                outline: none;
            }
        }
    }
}

.skill-section {
    background: #eee;

    .skill-left {
        p{
            margin-top:10px;
        }
        .prog_container {
            margin-bottom: 25px;
            width: 90%;
        }

        .progress {
            background-color: #f9f9f9 !important;
        }

        .prog_container .prog_text {
            font-size: 13px;
            text-transform: capitalize;
            color: #000;
            margin-bottom: 5px;
            position: relative;
            width: 100%;
            font-weight: 700;
        }

        .prog_container .prog_text .precent {
            position: absolute;
            right: 0;
        }

        .prog_container .progress {
            height: 3px;
            border-radius: 4px;
        }

        .prog_container .progress .progress-bar {
            background-color: $primary-color;
            height: 100%;
        }

        .prog_container .progress.md {
            height: 10px;
        }

        .prog_container .progress.lg {
            height: 20px;
        }

        @media all and (max-width: 767px) {
            .prog_container .prog_text .precent {
                position: -webkit-sticky;
                position: sticky;
                right: 0;
            }
        }
    }

    .skill-right {
        img {
            border-radius: 3px;
            background: $white;
            padding: 10px;
            -webkit-box-shadow: 0 7px 20px -10px #000;
            -moz-box-shadow: 0 7px 20px -10px #000;
            box-shadow: 0 7px 20px -10px #000;
        }
    }
}

/* =================================== */
/*  Form Styles 
/* =================================== */
label {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

.input-field,
.drop-primary {
    border: 1px solid $silver-2;
    font-size: 16px;
    padding: 13px 20px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 2px;

    &:focus {
        border: 1px solid $black;
        outline: none;
    }
}

.label-check {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;

    .optedin-check {
        margin-right: 10px;
    }
    a {
        color: $primary-color;
    }
}

.google-captcha {
    margin-bottom: 20px;

    .g-recaptcha {
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}

.drop-primary {
    background-color: $white;
    text-align: left;
    color: $black;
    &:hover {
        color: $black;
    }
}