/* =================================== */
/*  Portfolio Styles 
/* =================================== */

.portfolio-section {
    .single-portfolio {
        margin-bottom: 30px;
        text-align: center;
        overflow: hidden;
        position: relative;
        border-radius: 3px;
        img{
            @include transition();
            width: 100%;
        }
        .box-content {
            width: 100%;
            padding: 40px 0;
            background: rgba(0, 0, 0, 0.7);
            position: absolute;
            bottom: 0px;
            opacity: 0;
            transform: translateY(30px);
            transition: all 0.3s ease 0s;
        }
        &:hover {
            .box-content {
                opacity: 1;
                transform: translateY(0);
            }
            img {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
        .box-content .title {
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            margin: 0 0 5px 0;
        }
        .box-content .post {
            display: inline-block;
            font-size: 15px;
            color: #fff;
            text-transform: capitalize;
        }
    }
    .primary-btn {
        margin-top: 20px;
    }
}

.product-detials-section{
    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin: 0;
        z-index: 1;
        position: absolute;
        top: 10px;
        width: 100%;
  
        ul {
          display: inline-flex;
          font-size: 11px;
          text-transform: uppercase;
        }
  
        li {
            line-height: 30px;

            i {
                padding: 0 5px;
            }

          a {
            text-decoration: none!important;
          }
        }
      }

    .details-left {
        padding-right: 25px;
    }
      
    .details-right{
        padding-left: 25px;

        img {
            margin-top: 24px;
        }
    }

    .img-service-pardot {
        min-height: 240px;
        margin-bottom: 30px;
    }
}

.new-pardot-section,
.support-pardot-section {
    background: url(../img/img_effect_section_service_1.svg) center top no-repeat;
    background-size: cover;
    padding: 150px 0 0 0;

    .details-left {

        .section-title {
            padding: 0;
            margin-bottom: 25px;
        }
    }

    .features-new-pardot {
        background-color: $white;
        border-radius: 2px;
        -webkit-box-shadow: 0 6px 30px 0px rgba(0, 0, 0, 0.20);
        -moz-box-shadow: 0 6px 30px 0px rgba(0, 0, 0, 0.20);
        box-shadow: 0 6px 30px 0px rgba(0, 0, 0, 0.20);
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        padding: 30px;

        &:hover {
            -webkit-transform: translateY(-10px);
            -moz-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            -o-transform: translateY(-10px);
            transform: translateY(-10px);
            -webkit-box-shadow: 0 0px 50px 0px rgba(0, 0, 0, 0.50);
            -moz-box-shadow: 0 0px 50px 0px rgba(0, 0, 0, 0.50);
            box-shadow: 0 0px 50px 0px rgba(0, 0, 0, 0.50);
        }

        i {
            font-size: 70px;
            background: linear-gradient(0deg, $black 0%, $secondary-color 100%);
            -webkit-background-clip: text;
            background-clip: text;
	        -webkit-text-fill-color: transparent;
        }

        h4 {
            font-size: 20px;
            font-weight: bold;
            margin: 20px 0;
        }
    }

    .form-section-service {
        background: #E8F5FB;
        margin-bottom: 50px;

        .f-service {
            max-width: 920px;
            margin: 0 auto;
        }

        .g-recaptcha {
            display: inline-block;
        }

        .dropdown-toggle::after {
            right: 20px;
            position: absolute;
            top: 25px;
        }

        .cta-btn {
            margin: 0 auto;
            display: block;
        }
    }
}

.support-pardot-section {
    background: $white;
    padding: 100px 0 0 0;
}