/* =================================== */
/*  Font Family and Colors Styles
/* =================================== */

/*  Font */
$primary-font	: 'Poppins', sans-serif;

/*  Primary Colors */
$primary-color      : #f41e3d;
$secondary-color    : #15A0DB;

$title-color		: #39434D;
$text-color			: #47515A;

$white				: #fff;
$offwhite			: #fafcff;
$black				: #2F3542;
$silver             : #F5F6F7;
$silver-2           : #dadbdb;

/*  Services Colors */
$service1				: #D6F9FB;
$service2			    : #FBEED6;
$service3				: #E6D6FB;
$service4				: #FBD6D6;


/* =================================== */
/*  Shadows
/* =================================== */

$shadow-box         : 0 6px 30px 0 rgba(0,0,0,.2);
$shadow-image       : 0 0px 10px 0 rgba(0,0,0,.2);