/* =================================== */
/*  Font Family and Colors Styles
/* =================================== */

$primary-font	: 'Poppins', sans-serif;


$primary-color      : #f41e3d;
$secondary-color    : #15A0DB;

$title-color		: #39434D;
$text-color			: #47515A;

$white				: #fff;
$offwhite			: #fafcff;
$black				: #2F3542;

